body{
    font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
}

header{
    width:100%;
    position: fixed;
    z-index: 100;
    background-color: white;
    left: 0px;
    top: 0px;
    padding-top: 10px;
    border-bottom:1px solid rgb(202, 201, 201);
}

.headerstuff > *{
    /* outline: 1px solid red; */
    padding-bottom: 20px;
}

.insta-icon{
    /* color:rgb(31, 31, 31); */
    opacity:70%;
}

img{
    position: relative;
    top: 6px;
    left: 10px;
    width:110px;
    padding-left: 10px;
    border-left: 1px solid rgb(202, 201, 201);
    height:35px;
}

.headericon{
    /* color: rgb(172, 172, 172); */
    opacity:30%;
    padding-left: 35px;
}

.topleft{
    width: 200px;
    display: block;
    display: inline-block;
    position: relative;
    left: 70px;
}

.topcenter{
    display: block;
    display: inline-block;
    left: 25%;
    position: relative;
    top: -5px;
}

.topright{
    position: relative;
    float:right;
    left: -150px;
    top:6px;
}

.topsearchbar{
    text-align:center;
    width: 260px;
    height: 25px;
    font-size: 15px;
    background-color:rgb(246, 246, 246);
    border:1px solid rgb(202, 201, 201);
    border-radius: 2px;
}

.topsearchbar:focus{
    text-align: left;
}

.topsearchbar:focus::placeholder{
    color: transparent;
}

/* BODY */

.mainshell{
    position: relative;
    top: 65px;
    height: 2460px;
    background-color:rgb(246, 246, 246);
    /* weird white strip on either side of the page?? */
    /* margin-left:0px;
    margin-right: 0px; */
}

.mainshell > *{
    outline: 1px solid rgb(202, 201, 201);
    background-color: white;
    border-radius: 2px;
}

#post1{
    display: block;
    display: inline-block;
}

.post{
    
    height:1000px;
    width:700px;
    margin-top: 40px;
    margin-left: 70px;
}

.sidebar{
    height:530px;
    width:475px;
    margin-top: 40px;
    right: 150px; 
    display: block;
    display: inline-block;
    position: fixed;
    background-color: rgb(246, 246, 246);
    outline: none;
}


.suggestions{
    margin-top: 40px;
    margin-left: 70px;
    width:700px;
    height:300px;
    margin-bottom: 100px;
}

/* POST INNERHTML */

.post >*{
    /* outline: black; */
}

.post-top{
    /* outline: 1px solid red; */
    position: relative;
    height:75px;
}

.post-top > *{
    /* outline: 1px dashed black; */
    display: block;
    display: inline-block;
}

#profpic{
    position: relative;
    top: 10px;
}

.dwayneshell{
    position:relative;
    top:15px;
    left: 15px;
    width:40px;
    /* outline: 1px solid black; */
}

.dwayne{
    position: relative;
    padding: 0px;
    border-radius: 50%;
    overflow: hidden;
    width:40px;
    height: 40px;
    object-fit: cover;
    top: 0px;
    left: 0px;
}

.userdwayneshell{
    position: relative;
    left: 20px;
}

.userdwayne{
    font-weight: bold;
}

.post-pic{
    /* outline: 1px solid purple; */
    height:700px;
    display: flex;
}

.lbutton{
    display: block;
    display: inline-block;
    position: relative;
    /* left: 30px; */
    top: 8px;
    padding-left: 20px;
    /* padding-left: 20px; */
}

.rbutton{
    position: relative;
    float: right;
    top: 10px;
    right: 20px;
}


.jinx{
    /* outline: 1px dashed black; */
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 0px;
    height:700px;
    width: 700px;
}

.post-icons{
    /* outline: 1px solid green; */
    height:50px;
}

.post-caption{
    /* outline: 1px solid blue; */
    height:100px;
    position: relative;
    top:-9px;
}

.post-caption > *{
    /* outline: 1px dashed green; */
    position: relative;
    left:15px;
    width: 668px;
}

.strong{
    font-weight: bold;
}

.post-comments{
    /* outline: 1px solid blueviolet; */
    height:60px;
}

.post-comments >*{
    display: block;
    display: inline-block;
}

.timestamp{
    border-bottom: 1px solid rgb(202, 201, 201);
    padding-bottom: 20px;
    color: grey;
}

.commentbarshell{
    position: relative;
    left: 15px;
    top: 15px;
}

.commentbar{
    text-align:left;
    width: 260px;
    height: 25px;
    font-size: 15px;
    border: none;
    font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
    color: black;
    opacity: 80%;
}

.commenticonshell{
    float: right;
    position: relative;
    right: 20px;
    top: 10px;
}

/* SUGGESTIONS CSS */

.suggestions_header{
    display:block;
    display: inline-block;
}

#hA{
    color: black;
    opacity: 50%;
    position: relative;
    left: 30px;
}

#hB{
    color: black;
    opacity: 80%;
    position: relative;
    right: 20px;
    top: 15px;
    float: right;
}

#seeall{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(11, 125, 201);
}

.sugg{
    display: block;
    display: inline-block;
    outline: 1px solid rgb(202, 201, 201);
    height: 225px;
    width: 195px;
    margin-left: 30px;
    border-radius: 2px;
}

.sugdwayneshell{
    display:block;
    display: inline-block;
    position:relative;
    top:15px;
    left: 15px;
    width:40px;
    /* outline: 1px solid black; */
}
.xmark{
    display: block;
    display: inline-block;
    position: relative;
    left: 130px;
    top:-35px;
    color:rgb(202, 201, 201);
}

.dwaynefans{
    position: relative;
    padding: 0px;
    border-radius: 50%;
    overflow: hidden;
    width:65px;
    height: 65px;
    object-fit: cover;
    top: 5px;
    left: 50px;
}

.usernameshell >*{
    display: block;
    display: inline-block;
    /* outline: 1px solid red; */
    position: relative;
    left: 20px;
    top: 20px;
}

.vicon{
    color:rgb(11, 125, 201);
}

.blurbdiv{
    position: relative;
    top:10px;
    left: 40px;
}

.blurb{
    font-size: 12px;
    color: black;
    opacity: 50%;
}

.followdiv{
    position: relative;
    top:15px;
    left: 20px;
}

.follow{
    width:155px;
    height: 35px;
    outline: none;
    background-color:rgb(63, 161, 226);
    color: white;
    font-size:15px;
    border: none;
    border-radius:8px;
}

.follow:active {
    border-style: outset;
  }





  /* SIDEBAR */

  .fullname{
    margin: 5px;
    color:grey;
    font-size:13px;
  }

  .sidebaruser1{
    margin: 5px;
  }

  .sidebarheader >*{
    margin: 0px;
    /* outline: 1px solid red; */
  }

  .sbuserdwayneshell{
    position: relative;
    left: 40px;
    /* outline: 1px solid blue; */
}

  .sidebardwayne{
    position: relative;
    padding: 0px;
    border-radius: 50%;
    overflow: hidden;
    width:60px;
    height: 60px;
    object-fit: cover;
    top: 0px;
    left: 0px;
    outline: 2px solid rgb(240, 24, 147);
/*     
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1; */
    
}

#sb-top{
    border-bottom: 1px solid rgb(202, 201, 201);
    padding-bottom: 15px;
}

.sb-mid{
    padding-bottom: 15px;
}

.breaker >*{
    display:block;
    display: inline-block;
}

.watchallshell{
    /* top:100px; */
    float:right;
    /* outline: 1px solid green; */
    padding-top: 5px;
    padding-right: 10px;
    
    /* right:15px; */
}

.watchall{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    opacity:80%;
}


.storiesshell{
    /* outline: 1px solid green; */
    padding-left: 10px;
    height: 40px;
}

#stories{
    font-weight: bold;
    opacity: 40%;
}
/* 
.scrollable::-webkit-scrollbar{
    display: none;
} */

.scrollable{
    height: 300px;
    overflow-y:auto;
    border-bottom: 1px solid rgb(202, 201, 201);
}

.credits>*{
    /* outline: 1px solid black; */
    opacity: 40%;
    font-size: 15px;
}

.creditlinks{
    color: black;
    opacity: 60%;
    text-decoration: none;
    font-size: 13px;
}

.nohr{
    border: none;
}