header{
    width:100%;
    position: fixed;
    z-index: 100;
    background-color: white;
    left: 0px;
    top: 0px;
    padding-top: 10px;
    border-bottom:1px solid rgb(202, 201, 201);
}

.headerstuff > *{
    /* outline: 1px solid red; */
    padding-bottom: 20px;
}

#insta-icon{
    /* color:rgb(31, 31, 31); */
    opacity:70%;
}

img{
    position: relative;
    top: 6px;
    left: 10px;
    width:110px;
    padding-left: 10px;
    border-left: 1px solid rgb(202, 201, 201);
    height:35px;
}

.headericon{
    /* color: rgb(172, 172, 172); */
    opacity:30%;
    padding-left: 35px;
}

.topleft{
    width: 200px;
    display: block;
    display: inline-block;
    position: relative;
    left: 70px;
}

.topcenter{
    display: block;
    display: inline-block;
    left: 25%;
    position: relative;
    top: -5px;
}

.topright{
    position: relative;
    float:right;
    left: -150px;
    top:6px;
}

#topsearchbar{
    text-align:center;
    width: 260px;
    height: 25px;
    font-size: 15px;
    background-color:rgb(246, 246, 246);
    border:1px solid rgb(202, 201, 201);
}


/* BODY */

.mainshell{
    position: relative;
    top: 65px;
    height: 1420px;
    background-color:rgb(246, 246, 246);
    /* weird white strip on either side of the page?? */
    /* margin-left:0px;
    margin-right: 0px; */
}

.mainshell > *{
    outline: 1px solid black;
}

.post{
    
    height:1000px;
    width:700px;
    display: block;
    display: inline-block;
    margin-top: 40px;
    margin-left: 70px;
}

.sidebar{
    height:530px;
    width:475px;
    display: block;
    display: inline-block;
    position:fixed;
    margin-top: 40px;
    right: 150px;
}

.suggestions{
    margin-top: 40px;
    margin-left: 70px;
    width:700px;
    height:300px;
    margin-bottom: 100px;
}

/* POST INNERHTML */

.post >*{
    outline: black;
}

.post-top{
    outline: 1px solid red;
    position: relative;
    height:75px;
}

.post-top > *{
    outline: 1px dashed black;
    display: block;
    display: inline-block;
}

#profpic{
    position: relative;
    top: 10px;
}

#dwayneshell{
    position:relative;
    top:15px;
    left: 5px;
}

#dwayne{
    position: relative;
    width:40px;
    height: 40px;
    top: 0px;
    left: 0px;
}

#userdwayneshell{
    position: relative;
    left: 10px;
}

#userdwayne{
    font-weight: bold;
}

.post-pic{
    outline: 1px solid purple;
    height:700px;
    display: flex;
}

.lbutton{
    display: block;
    display: inline-block;
    position: relative;
    /* left: 30px; */
    top: 8px;
    padding-left: 20px;
    /* padding-left: 20px; */
}

.rbutton{
    position: relative;
    float: right;
    top: 10px;
    right: 20px;
}


#jinx{
    /* outline: 1px dashed black; */
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 0px;
    height:700px;
    width: 700px;
}

.post-icons{
    outline: 1px solid green;
    height:50px;
}

.post-caption{
    outline: 1px solid blue;
    height:100px;
}

.post-timestamp{
    outline: 1px solid blueviolet;
    height:75px;
}